@model TipoCuenta

@{
    ViewData["Tittle"] = "Crear tipo Cuenta";
}
<h1>Crear Tipo de Cuenta</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas. Ejemplos: Prestamos, tarjetas de credito. etc.</h5>

<div asp-validation-summary="All"  class="text-danger">


</div>

<form asp-controller="TiposCuentas" asp-action="Crear">
    <div class="mb-3" >
        <label asp-for="Nombre" class="form-label" >Nombre</label>
        <input type="text" asp-for="Nombre"  class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>